<div class="app">
  <ng-select
  [items]="swordData"
  [(ngModel)]="swords"
  [multiple]="true"
  bindLabel="name"
  placeholder="Select"
  ></ng-select>

  <div>Units:</div>
  <input type="radio" id="metric" name="units" value="metric" [(ngModel)]="units" />
  <label for="metric">Metric</label>
  <input type="radio" id="imperial" name="units" value="imperial" [(ngModel)]="units" />
  <label for="imperial">Imperial</label>

  <div *ngFor="let sword of swords" class="sword-row">
    <div class="sword-name">
      {{ sword.name }}
    </div>
    <div class="sword-image">
      <div class="sword-handle-container">
        <img class="sword-handle-image"
        [src]="'../assets/images/' + sword.imagePrefix + '_handle.png'"
        [style]="{ 'width': (sword.handleLength * 10)+'px' }" />

        <div class="sword-handle-ruler"
        [style]="{ 'width': (sword.handleLength * 10)+'px' }">
          {{ (getLength(sword.handleLength) | number:'1.0-1') + lengthUnit }}
        </div>
      </div>
  
      <div class="sword-blade-container">
        <img class="sword-blade-image"
        [src]="'../assets/images/' + sword.imagePrefix + '_blade.png'"
        [style]="{ 'width': (sword.bladeLength * 10)+'px' }" />
  
        <div *ngIf="sword.pob" class="pob">
          <span class="pob-icon" [style]="{ 'margin-left': (15 + sword.pob * 10)+'px' }"></span>
          <span class="pob-text" [style]="{ 'margin-left': (15 + sword.pob * 10)+'px' }">{{ (getLength(sword.pob) | number:'1.0-1') + lengthUnit }}</span>
        </div>

        <div class="sword-blade-ruler"
        [style]="{ 'width': (sword.bladeLength * 10 - 15)+'px' }">
          {{ (getLength(sword.bladeLength) | number:'1.0-1') + lengthUnit }}
        </div>
      </div>
    </div>
    <div class="sword-weight">
  
    </div>
    <div class="sword-price">
  
    </div>
  </div>
</div>
