<div class="app">
  <ng-select
  [items]="swordData"
  [(ngModel)]="swords"
  [multiple]="true"
  bindLabel="name"
  placeholder="Select"
  ></ng-select>
  
  <div *ngFor="let sword of swords" class="sword-row">
    <div class="sword-name">
      {{ sword.name }}
    </div>
    <div class="sword-image">
      <div class="sword-handle-container">
        <img class="sword-handle-image"
        [src]="'../assets/images/' + sword.imagePrefix + '_handle.png'"
        [style]="{ 'width': (sword.handleLength * 10)+'px' }" />
      </div>
  
      <div class="sword-blade-container">
        <img class="sword-blade-image"
        [src]="'../assets/images/' + sword.imagePrefix + '_blade.png'"
        [style]="{ 'width': (sword.bladeLength * 10)+'px' }" />
  
        <div *ngIf="sword.pob" class="pob" [style]="{ 'left': (15 + sword.pob * 10)+'px' }">
          <span class="pob-icon"></span>
          <span>POB</span>
        </div>
      </div>
    </div>
    <div class="sword-weight">
  
    </div>
    <div class="sword-price">
  
    </div>
  </div>
</div>
